body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #000;
    gap: 20px;
    max-width: 900px;
    padding:  10px 20px 10px 10px;
}
.features {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    flex: 0 0 200px;
}

.basic-plan {
    order: -0;
}

.pro-plan {
    order: 1;
    flex-grow: 2;
}

.premium-plan {
    order: 2;
}

a {
    text-decoration: none;
    color: black;
    background-color: rgb(219, 219, 62);
    font-weight: bold;
    margin: 10px auto;
    padding: 10px 20px;
}

.green {
    color: green;
    padding: 10px 5px;
}