#email {
    padding: 50px;
    margin: 50px auto;
    width: 500px;
    border: 2px solid black;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    width: 500px;
    border-radius: 5px;
}

#confidential, #top-secret {
    display: inline-block;
    padding: 9px 10px;
    margin-left: 100px;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    text-align: center;
}

.blurred {
    filter: blur(3px);
}

#confidential {
    font-size: 30px;
    transform: rotate(-10deg);
}

#top-secret {
    font: 12px;
    transform: rotate(10deg);
}

