* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}



#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}


#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

#navbar header {
    color: black;
    margin: 10px;
    font-size: 1.8em;
    font-weight: thin;
    padding: 10px 30px;
}


#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 3rem 4rem;
    margin-bottom: 110px;
    line-height: 1.7;
}

#main-doc header {
    text-align: left;
    margin: 0px;
    font-size: 2em;
    padding: 10px;
}



code {
    padding: .1rem 1.5rem;
    background: #f6f8fa;
    font-family: Consolas, monospace;
    font-size: 0.95rem;
    line-height: 1.7;
    border-radius: 6px;
    overflow-x: auto;
    margin: 1.5rem 0;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #navbar {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 250px;
        border-right: none;
        border-bottom: 1px solid rgba(0, 22, 22, 0.4);
    }

    #main-doc {
        padding: 2rem;
    }
}