#house {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 150px auto;
    background-color: rgb(219, 147, 147);
    border: 1px solid transparent;
}



#roof {
    position: absolute;
    width: 100%;
    height: 110px;
    background-color: red;
    border: 1px solid transparent;
    top: 0;
}

#chimney {
    position: absolute;
    width: 50px;
    height: 150px;
    top: -150px;
    left: 446px;
    background-color: rgb(68, 68, 51);
    border: 2px solid transparent;
    z-index: -1;
}

#window-1 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 120px;
    left: 60px;
    background-color: brown;
    border: 2px solid transparent;
}

#window-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 120px;
    right: 60px;
    background-color: brown;
    border: 2px solid transparent;
}

#door {
    position: absolute;
    width: 60px;
    height: 100px;
    left: 220px;
    background-color: brown;
    border: 2px solid transparent;
    bottom: 0;
}