body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}


#logo {
    width: max(10rem, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}

header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
}

main {
    padding-top: 25px;
}

section {
  width: 80%;
  margin: 0 auto 10px auto;
  max-width: 600px;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

li > a {
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
    color: #fff;
}

h1, h2 {
    font-family: Verdana, sans-serif;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0;
    padding-top: 60px;

}

.info {
    padding: 1px 0 0 1px;
}

.formrow {
    margin-top: 1px;
    padding: 0 1px;
}

input {
    font-size: 15px;
}

.info input,
.info label {
  display: inline-block;
}

.info label {
  text-align: right;
}

.info input {
    width:  50%;
    text-align: left;
}

.info label {
    width: 10%;
    min-width: 55px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

h3::before {
    content: "Question #";
}