body {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

.title {
    width: 100%;
    height: 110px;
    color: white;
    background-color: #1B1B32;
    grid-area: title;
    margin: 10px auto;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 45px;
    padding: 10px;
}

.feature-article {
    grid-area: feature-article;
    font-size: 1rem;
    padding: 15px;
    background-color: #f9f9f9;
}

.secondary-article {
    grid-area: secondary-article;
    background-color: #f9f9f9;

}

.cover-image {
    grid-area: cover-image;
}

/* /* For small-article 1, small-article 2, and small-article 3 */

.small-article1 {
    grid-area: small-article1;
    background-color: #f9f9f9;

}

.small-article2 {
    grid-area: small-article2;
    background-color: #f9f9f9;

}

.small-article3 {
    grid-area: small-article3;
    background-color: #f9f9f9;

}

.newspaper-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    padding: 15px;
    gap: 15px;
    text-align: justify;
    box-sizing: border-box;

    grid-template-areas:
        "title title title"
        "feature-article feature-article cover-image"
        "secondary-article secondary-article cover-image"
        "small-article1 small-article2 small-article3";

}

.cover-image {
    grid-area: cover-image;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 15px;
    margin: 0;
}

.cover-image img {
    max-width: 100%;
}