body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: block;
    font-size: 2em;
    text-align: center;
}

h4 {
    font-size: 1.2em;
    font-weight: bolder;
}

p {
    font-size: 1rem;
}

.feature-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 700px;
    justify-content: center;
}

.feature-card {
    width: 290px;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.feature-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #f1be32;
}

.feature-card input[type="checkbox"] {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20px;
    right: 20px;
    transition: all 0.3s;
    appearance: none;
    cursor: pointer;
    border: 2px solid #f1be32;
    background-color: white;
    border-radius: 4px;
}

.feature-card input[type="checkbox"]:checked {
    background-color: #f1be32;
    border-color: #e2a60d;
}

.feature-card input[type="checkbox"]:checked::after {
    content: "✓";
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 20px;
}