* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #f0f0f0;
  margin: 20px;
  padding: 20px;
}
.todo-list {
  background-color: #ffffff;
  width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}
h1 {
  text-align: center;
  color: #333333;
  padding-top: 20px;
  font-size: 35px;
}

.todo-list li {
  list-style: none;
  background-color: pink;
  padding: 10px 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.sub-item li {
  list-style-type: square;
  padding-left: 20px;
}

.sub-item-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

a:link {
  color: red;
}

a:hover {
  color: blue;
}

a:visited {
  color: purple;
}

a:focus {
  outline: 2px solid orange;
}

a:active {
  color: green;
}
