body {
   background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100%;
   overflow: hidden;
}

.penguin {
    width: 300px;
    height: 300px;
    margin: 75px auto;
}

.ground {
    position: absolute;
    width: 100vw;
    height: 400px;
    background: linear-gradient(90deg, rgb(88,175, 236), rgb(182, 255, 255));
    z-index: 3;
}