/* Base */
body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background-color: whitesmoke;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.container {
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    max-width: 500px;
}

.container h1 {
    text-align: center;
    color: rgb(96, 53, 216);
    margin-bottom: 25px;
}

/* Form group spacing */
form {
    margin-bottom: 15px;
    width: 400px;
}

label {
    display: block;
    color: rgb(96, 53, 216);
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    margin-bottom: 5px;
}

/* Inputs, Selects, Textareas */
input[type="text"],
input[type="email"],
select {
    width: 400px;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.2s;
}

/* First input special style */
input:first-of-type {
    border-radius: 20px;
}

/* Focus effect */
input:focus,
select:focus{
    border-color: violet;
    outline: none;
}

/* Validation */
input:valid,
select:valid,
textarea:valid {
    border-color: green;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:focus,
textarea:focus {
    border-color: violet;
    outline: none;
}



button {
    padding: 10px 20px;
    background-color: rgb(96, 53, 216);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: rgb(75, 40, 180);
}





