body {
    background-color: pink;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}


#playing-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.left {
    font-size: 30px;
    width: 20%;
    align-self: flex-start;
}

.middle {
    font-size: 70px;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.right {
    transform: rotate(180deg);
    padding: 5px;
    align-self: flex-end;
    font-size: 30px;
}