body {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 85vw;
    min-height: calc(100vh - 100px);
    text-align: center;
}

header {
    text-align: center;
}

section {
    text-align: center;
    width: 30%;
    padding: 50px 5px;
    display: inline-block;
    min-height: 100px;
    width: 20%;
}



hr {
    border: none;
    height: 2px;
    width:100%;
    background-color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
}